@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    --fonte-principal: "Montserrat", sans-serif;
    --cor-header: #44A194;
    --cor-de-fundo: #F4F0E4;
    --cor-footer: #537D96;

}

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--fonte-principal);
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.display-flex{
    display: flex;
}

.width100{
    width: 100%;
}

.align-itens-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}
 
body{
    width: 100vw;
    min-height: 100vh;
    flex-wrap: wrap;
    background-color: var(--cor-de-fundo);
    flex-direction: column;
}

.box-header, .box-menu, .box-redes-sociais{
    height: 100%;
}

header{
    height: 150px;
    margin-bottom: 50px;
    background-color: var(--cor-header);
    box-shadow: 1px 1px 10px 1px black;
}


.box-menu, .box-redes-sociais{
    width: 50%;
}

.box-menu ul{
    gap: 30px;
}

.box-menu ul li{
    outline: none;
    padding: 10px;
}

.box-menu ul li a {
    font-weight: 600;
    color: wheat;
    transition: ease-in-out .5s;
    display: inline-block;

}

.box-menu ul li a:hover{
    transform: scale(1.2);
}

.box-redes-sociais ul{
    gap: 15px;
}

.box-redes-sociais ul li{
    width: 55px;
    height: 55px;
    scrollbar-width: none;
}

.img-redes-sociais{
    width: 99%;
}

main{
    height: 100%;
    flex-direction: column;
    gap: 100px;
}

.linha,
 .coluna2,
 .fade-up{
    overflow-y: hidden;
}

.linha{
    width: 80%;
    gap: 60px;
}

.coluna2{
    width: 45%;
    height: 400px;
}

#ImagemPrincipal{
    height: 99%;
    border-radius: 360px;
}

.texto1 p{
    text-align: justify;
    color: maroon;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.7;
}

.imagemIlustrativa{
    height: 100%;
}


footer{
    height: 100px;
    background-color: var(--cor-footer);
    margin-top: 50px;
    text-align: center;
}

.fade-up {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

#imgSecundaria{
    width: 80%;
}

#headerMobile{
    display: none;
}


