@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{

    --fonte-principal: "Montserrat", sans-serif;
    --cor-header: #44A194;
    --cor-de-fundo: #F4F0E4;
    --cor-footer: #537D96;

}

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--fonte-principal);
}

a{
    text-decoration: none;
}

body, .linha, .box-header, .box-menu, .box-menu ul, .box-redes-sociais, main, #texto1, .coluna2{
    display: flex;
    align-items: center;
    justify-content: center;

}

body{
    width: 100vw;
    flex-wrap: wrap;
    background-color: var(--cor-de-fundo);
}

header, footer, .box-header{
    width: 100%;
}

.box-header, .box-menu, .box-redes-sociais{
    height: 100%;
}

header{
    height: 150px;
    margin-bottom: 50px;
    background-color: var(--cor-header);
    box-shadow: 1px 1px 10px 1px black;
}

.box-header{
    
}

.box-menu, .box-redes-sociais{
    width: 50%;
}

.box-menu ul{
    gap: 30px;
}

.box-menu ul li{
    outline: none;
}

.box-menu ul li a {
    font-weight: 600;
    color: wheat;
    transition: ease-in-out .5s;

}

.box-menu ul li a:hover{
    font-size: 22px;
}

.box-redes-sociais ul{
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.box-redes-sociais ul li{
    width: 55px;
    height: 55px;
    scrollbar-width: none;
}

.img-redes-sociais{
    width: 99%;
}

main{
    width: 100%;
    flex-direction: column;
    gap: 100px;
}

.linha{
    width: 100%;
    /*border: 1px solid gray;*/
    gap: 20px;
}

.coluna2{
    width: 45%;
    height: 400px;
    /*border: 1px solid red;*/
    overflow-y: hidden;
}

#ImagemPrincipal{
    height: 99%;
    border-radius: 360px;
}

.texto1 p{
    text-align: justify;
    color: maroon;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.7;
}

.imagemIlustrativa{
    height: 100%;
}


footer{
    height: 100px;
    background-color: var(--cor-footer);
    margin-top: 50px;
}

.fade-up {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  overflow-y: hidden;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

#imgSecundaria{
    width: 80%;
}