#redes-sociais ul{
    display: flex;
    list-style: none;
    gap: 15px;
}

#redes-sociais ul li a img{
    width: 35px;
}

#redes-sociais ul li a img{
    transition: .5s ease;
}

#redes-sociais ul li a img:hover{
    transform: translateY(10px);
}