main{

    border: solid 1px red;
    align-items: center;
    gap: 0;
}

.box-menu-projetos{
    border: solid 1px yellow;
    width: 20%;
    height: 500px;

}
.box-projetos{

    border: solid 1px green;
    width: 75%;
    height: 500px;
}

.box-filtro, .box-submenu-projetos{
    width: 100%;
}

.box-filtro{
    border: 1px solid orange;
    height: 50px;
}

.box-submenu-projetos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}